<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"/>
		<title>Cobrança</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css"/>
	</head>
	<body>
		
		<header layout:include="cabecalho"></header>
		
		<div class="content">
			<section layout:fragment="conteudo">
				<p>Conteúdo principal</p>
			</section>
		</div>
		
		<script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/js/cobranca.js" type="text/javascript"></script>
		<script src="/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
		<script src="/js/bootstrap-datepicker.pt-BR.min.js" type="text/javascript"></script>
		<script src="/js/jquery.maskMoney.min.js" type="text/javascript"></script>
	</body>
</html>